/*
 Theme Name:   Generate Press Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Generate Press Child Theme
 Author:       Elliot Sneeringer
 Author URI:   http://example.com
 Template:     generatepress
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  generatepress-child
*/

body{
	/*font-family: proxima-nova, sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
}

p {
	margin-bottom: none !important;
}



.countdown-container{
	width: 100%;
	background-color: #000000;
	padding: 3%;
	color: #fff;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-size: 28px;
	text-align: justify;
	letter-spacing: 7px;
	word-spacing: 10px;
}

.countdown-clock-header{
	margin-left: 7%;
	margin-right: 5%;
}

.countdown{
	font-size: 42px;
}

.header-image{
	position: relative;
}

.header-widget{
	margin-right:15%
}

.page-header-image{
	padding: 0%;
}

.welcome-header h1{
	font-weight: bold;
}

.welcome-header{
	padding: 6%;
	background-color: white;
	text-align:center;
	width:60%; margin:0 auto;
}

.welcome-header p{
	font-size: 20px;
}

.welcome-box:before{
    display: block;
}

.mission-box{
   	width: 100%;
	text-align:center;
	padding-top:2%;
	padding-bottom:2%;
	margin-top:2%;
}

.mission-box:before{
    display: block;
}

.img-home{
	border: #fff;
}

.img-home:hover{
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
}

.flex-rectangle-home{
	text-align:center;
	overflow:hidden;
	background-color: none;
	opacity: 0.5%;
}

/*div.flex-square-home-center.img-home:hover,
div.flex-square-home-left.img-home:hover,
div.flex-square-home-right.img-home:hover{
	filter: brightness(50%);
}*/

.flex-square-home-left{
	float: left;
    padding-top: 8%;
    padding-bottom: 8%;
    width: 33%;
    border-style: solid;
    border-width: 1px;
}

.flex-square-home-center{
    margin:0 auto;
	padding-top: 8%;
    padding-bottom: 8%;
	width:33%;
	border-style:solid;
	border-width:1px;
}

.flex-square-home-right{
    float:right;
	padding-top: 8%;
    padding-bottom: 8%;
	width:33%;
	border-style:solid;
	border-width:1px;
}

.stock{
	width: 100%;
}

#rise{
	float: left;
    margin-left: 15%;
	margin-right: 10%;
	border-right: solid;
	padding-right: 15%;
    border-color: grey;
	border-width: thin;
	text-align: left;
}

#rise h3
{
	font-family: proxima-nova, sans-serif;
	font-size: 18px;
	color:#ff9e1b;
	margin-bottom: 0px;
    text-align: left;
}

#rise h2 span{
	font-weight: bolder;
}

#rise-fall-container{
	text-align: left;
}

#rise li{
	list-style: none;
	text-align: left;
}

#down{
	float: left;
	padding-left: 8%;
}

#down h3{
	font-family: proxima-nova, sans-serif;
	font-size: 18px;
	color:#ff9e1b;
	margin-bottom: 0px;
    text-align: left;
}

#down h2 span{
	font-weight: bolder;
}

#down li{
	list-style: none;
	text-align: left;
}

#rise-fall-container{
	text-align: center;
	margin: auto;
	width: 50%;
}

.header-widget{
	margin-right:15%
}

iframe{
    width: 1000px;
    height: 750px;
}

.featherlight-iframe .featherlight-content{
	border-bottom:0;
	padding:0;
	-webkit-overflow-scrolling:touch;
	overflow-y:auto;
  }

div.inside-header.grid-container.grid-parent{
	display: none;
}


/*@media only screen and (max-width: 800px) {
	.flex-rectangle-home{
		border-style:none;
	}

	.flex-square-home-right, .flex-square-home-left, .flex-square-home-center{
		display:block;
		float:none;
		width:100%;
		margin-top:2.5%;
	}

	.header-widget{
		display:none;
	}

	#rise{
		border: none;
		width: 100%;
		margin-left: 10%;
	}

	#rise li{
		font-size: 14px;
	}

	#down{
		padding-top: 10%;
		margin-top:15%;
		border-top: solid grey thin;
	}

	#down li{
		font-size: 14px;
	}
}*/

body {
	background-color: #fff;
}

.clearfix {
	clear: both;
}

.countdown-box {		
    width: 100%;
    background-color: #000000;
}

.inner-countdown-box {
	padding: 15px;
}

.countdown-text {
	font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #fff;
	width: 50%;
	float: left;
	text-align: right;
	font-weight: 300;
}

.inner-countdown-text {
	padding: 40px 25px 25px;
}

.countdown {
	float: left;
	width: 50%;
	text-align: left;
}

.inner-countdown {
	padding: 0px 25px 25px;
}

.last-year .countdown-text {
	width: 20%;
}

.last-year .countdown {
	width: 80%;
}

.last-year .inner-countdown {
	padding: 25px;
}

.last-year .inner-countdown-text {
	border-right: 1px solid #fff;
}

.last-year .inner-countdown .name {
	/*text-align: center;*/
	color: #fff;
	font-weight: 300;
	margin-left: 4%;
}

.last-year .inner-countdown .name span {
	color: #ff9e1b;
	font-weight: 700;
}

.days, .hours, .minutes, .seconds, .aps-score, .number-correct, .total-error, .avg-error, .diff-pts, .team-matching {
	color: #fff;
    font-size: 72px;
    border-right: 1px solid;
    padding: 0px 65px 30px;
    position: relative;
}

.seconds, .team-matching {
	border-right: none;
}

.days:after, .hours:after, .minutes:after, .seconds:after, .aps-score:after, .number-correct:after, .total-error:after, .avg-error:after, .diff-pts:after, .team-matching:after {
	position: absolute;
    bottom: -10px;
    color: #F59020;
    font-size: 18px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
}

.last-year .days:after, .last-year .hours:after, .last-year .minutes:after, .last-year .seconds:after, .last-year .aps-score:after, .last-year .number-correct:after, .last-year .total-error:after, .last-year .avg-error:after, .last-year .diff-pts:after, .last-year .team-matching:after {
    font-size: 12px;
}

.days:after {
	content: "Days";
}
.hours:after {
	content: "Hours";
}
.minutes:after {
	content: "Minutes";
}
.seconds:after {
	content: "Seconds";
}
.aps-score:after {
	content: "APS Score";
}
.number-correct:after {
	content: "Number Correct";
}
.total-error:after {
	content: "Total Error";
}
.avg-error:after {
	content: "Average Error";
}
.diff-pts:after {
	content: "Difficulty Points";
}
.team-matching:after {
	content: "Team Matching";
}

.img-home {
	background-size: 100% 100%;
	transition: all 0.3s ease;
	color: #fff;
}

.flex-square-home-left {
	background-image: url('http://192.168.33.10/aps/wp-content/uploads/image_part_001.png');
}
.img-row a:hover .flex-square-home-left {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('http://192.168.33.10/aps/wp-content/uploads/image_part_001.png');
	background-size: 110% 110%;
}
.flex-square-home-right {
	background-image: url('http://192.168.33.10/aps/wp-content/uploads/image_part_003.png');
}
.img-row a:hover .flex-square-home-right {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('http://192.168.33.10/aps/wp-content/uploads/image_part_003.png');
	background-size: 110% 110%;
}
.flex-square-home-center {
	background-image: url('http://192.168.33.10/aps/wp-content/uploads/image_part_002.png');
}
.img-row a:hover .flex-square-home-center {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('http://192.168.33.10/aps/wp-content/uploads/image_part_002.png');
	background-size: 110% 110%;
}

.img-row a {
	color: #fff;
	font-size: 25px;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
	text-transform: uppercase;
}

.img-row a span {
	transition: all 0.3s ease;
	padding: 10px;
}

.img-row a:hover span {
	border: 2px solid #fff;
}

.uppercase {
	text-transform: uppercase;
	font-size: 35px;
}

.rise-fall {
	display: block;
	margin: 0 auto;
}

.home-text-content {
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 75px 150px;
}

.home-text-content h1 {
	font-weight: 700;
}

.home-text-content p {
	font-size: 32px;
}

.no-bullet {
	padding: 0;
	margin: 0;
}

.no-bullet li {
	list-style-type: none;
	font-size: 25px;
}

.inner-rise-fall {
	max-width: 600px;
    display: block;
    margin: 0 auto;
}

.inner-rise-fall .half {
	float: left;
	width: 50%;
}

.inner-rise-fall .title {
	font-family: proxima-nova, sans-serif;
	font-size: 18px;
	color: #ff9e1b;
	margin-bottom: 0px;
    text-align: left;
}

.inner-rise-fall .inner-half {
	padding: 15px;
}

.inner-rise-fall .border {
	border-right: 2px solid #C1C2C3;
}

.inner-half.right {
	position: relative;
	left: 90px;
}

.subscribe-box {
	background-color: #F6F6F7;
	text-align: center;
	margin-top:50px;
}

.inner-subscribe-box {
	padding: 50px;
	position: relative;
} 

.inner-subscribe-box .left {
	float: left;
	width: 30%;
	text-align: left;
}

.inner-subscribe-box .divider {
	position: absolute;
    width: 3%;
    height: 2px;
    background-color: #ff9e1b;
    margin-top: 7px;
}

.inner-subscribe-box .right {
	float: left;
	width: 70%;
}

.inner-subscribe-box .right .input {
	float: left;
	width: 80%;
}

.inner-subscribe-box .right .input input, .inner-subscribe-box .right .submit input {
	width: 100%;
}

.inner-subscribe-box .right .submit {
	float: left;
	width: 20%;
	text-align: left;
}

.inner-subscribe-box .right .submit-btn {
	background-color: #f79121;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.inner-subscribe-box .left h3 {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 300;
}

.inner-subscribe-box .left p {
	margin: 0;
	width: 40%;
	font-size: 18px;
	font-weight: 300;
}

.inner-subscribe-box .inner-form {
	padding: 30px 0;
}

footer {
	background-color: #000;
	text-align: center;
	color: #F0F0F0;
	font-family: proxima-nova, sans-serif;
}

.inner-footer {
	padding: 50px;
}

footer .left {
	text-align: left;
}

footer .left, footer .right {
	float: left;
	width: 50%;
}

footer .menu {
	width: 25%;
}

footer .menu ul {
	list-style-type: none;
	margin: 0;
}

footer .menu ul li {
	width: 50%;
	display: inline;
}

footer .menu ul li a {
	padding: 0 5px;
    border-right: 1px solid #fff;
    font-weight: 300;
    font-size: 11px;
    color: #F0F0F0;
}

footer .menu ul li:last-child a {
 		border-right: none;
}

.copyright {
	font-size: 11px;
	margin-top: 40px;
}

footer .logo {
	margin-bottom: 30px;
	width: 25%;
}

footer .social {
	text-transform: uppercase;
	color: #f79121;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 11px;
	text-align: right;
}

footer .social a {
	color: #fff;
	transition: all 0.3s ease;
	font-size: 24px;
	padding: 0 10px;
}

footer .social a:hover {
	color: #f79121;
}

footer .input {
	float: left;
	width: 70%;
}

footer .input input, footer .submit input {
	width: 100%;
}

footer .submit {
	float: left;
	width: 30%;
}

footer .social span {
	position: relative;
	top: -5px;
}

footer .email-input, footer .email-input:focus {
	background-color: #000;
}

footer .submit-btn {
	background-color: #000;
	border: 1px solid #fff;
}

.email-footer {
	padding: 35px 0 15px;
}

.form-text {
	text-align: left;
	font-weight: 300;
}

.page-template .tablepress tfoot th, .page-template .tablepress thead th {
	background-color: #363637;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.page-template .tablepress .sorting:hover, .page-template .tablepress .sorting_asc, .page-template .tablepress .sorting_desc {
	background-color: #f79121;
}

.page-template .tablepress thead a, .page-template .tablepress thead a:visited {
	color: #fff;
}

.page-template .tablepress a:focus {
	color: #f79121;
}

.page-template .tablepress td a, .page-template .tablepress td a:focus {
	color: #000;
}

.page-template .tablepress .odd td {
    background-color: #EDECED;
}

.page-template .tablepress tr {
	transition: all 0.3s ease;
}

.page-template .tablepress tr:hover, .page-template .tablepress tr:hover a {
	color: #f79121 !important;
}

.page-template-page_aps_mock_modal #primary, .page-template-page_aps_scorecard_modal #primary {
	border-top: 20px solid #f79121;
}

.page-template-page_aps_mock_modal .entry-title span, .page-template-page_aps_scorecard_modal .entry-title span {
	color: #807C7F;
	font-weight: 700;
}

.page-template .dataTables_info {
	display: none;
}

.page-template .dataTables_paginate {
	float: none;
}

.page-template .paginate_button.next {
	float: right;
}

.page-template-page_aps_mock_modal .entry-header .left, .page-template-page_aps_scorecard_modal .entry-header .left {
	float: left;
	width: 70%;
}
.page-template-page_aps_mock_modal .entry-header .right, .page-template-page_aps_scorecard_modal .entry-header .right {
	float: left;
	width: 30%;
	text-align: right;
}

.page-template-page_aps_mock_modal .entry-header .right .title, .page-template-page_aps_scorecard_modal .entry-header .right .title {
	text-transform: uppercase;
}

.page-template-page_aps_mock_modal .entry-header .right .title span, .page-template-page_aps_scorecard_modal .entry-header .right .title span {
	font-weight: bold;
}

.paging_simple .paginate_button.next:after, .paging_simple .paginate_button.previous:before {
	color: #f79121;
	text-shadow: none;
}

.header-image .overlay {
	position: absolute;
	left: 165px;
	right: 165px;
    top: 50%;
	transform: translateY(-50%);
	font-family: 'Montserrat', sans-serif;
}

.header-image .overlay h1 {
	font-weight: 600;
    font-size: 60px;
	/*text-shadow: 1px 1px rgba(0,0,0,0.8);*/
	letter-spacing: 3px;
}

.header-image .overlay h1, .header-image .overlay h3 {
	text-transform: uppercase;
}

.header-image .overlay h1, .header-image .overlay p {
	color: #fff;
}

.header-image .overlay h3 {
	color: #f79121;
	font-size: 32px;
	/*text-shadow: 1px 1px rgba(0,0,0,0.8);*/
	margin: 0;
	
}

.header-image .overlay h3 span {
	font-weight: 700;
}

.header-image  img.shadow {
	background: rgba(255, 0, 0, 0.25);
	filter: brightness(45%);
}

.header-image .overlay p {
	color: #EDECED;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
	margin-bottom: 0;
	line-height: 1.5;
	width: 50%;
    font-size: 18px;
}

.header-image {
	line-height: 0;
}

.boxes {
	margin-top: 3.5%;
}

.box-row.dark {
	background-color: #363637;
	color: #fff;
}

.box-row.light {
	background-color: #F6F6F7;
}

.boxes .box {
	float: left;
	width: 50%;
}

.box .inner-box {
	padding: 20px 30px 0 30px;
}

.inner-box-row {
	max-width: 1400px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.top5 {
    text-transform: uppercase;
    color: #f79121;
    font-weight: 700;
}

.boxes .box .title {
	font-size: 28px;
}

.boxes .box ol {
	margin: 0 0 1.5em 1em;
}

.boxes .box ol li span {
	font-weight: 300;
	float: right;
}

.scorecard .left, .scorecard .right, .scorecard .key, .scorecard .value {
	float: left;
	width: 50%;
}

.scorecard .value {
	text-align: right;
	font-size: 50px;
	font-weight: 300;
}

.scorecard .inner-left {
	border-bottom: 1px solid #000;
}

.scorecard .key {
	position: relative;
	top: 40px;
	font-weight: 600;
}

.scorecard .inner-right {
	margin-left: 20px;
	margin-top: 55px;
}

.scorecard .description {
    font-weight: 300;
    font-size: 14px;
}

.scorecard .fa-angle-right {
	color: #F5911F;
}

@media all and (max-width: 1900px) {
	.last-year .days, .last-year .hours, .last-year .minutes, .last-year .seconds, .last-year .aps-score, .last-year .number-correct, .last-year .total-error, .last-year .avg-error, .last-year .diff-pts, .last-year .team-matching {
	    font-size: 60px;
		padding: 0px 65px 30px;
		border-right: solid 1px grey;
	}
	.last-year .days:after, .last-year .hours:after, .last-year .minutes:after, .last-year .seconds:after, .last-year .aps-score:after, .last-year .number-correct:after, .last-year .total-error:after, .last-year .avg-error:after, .last-year .diff-pts:after, .last-year .team-matching:after {
	    font-size: 12px;
	}
}


@media all and (max-width: 1700px) {
	.countdown-text {
		font-size: 32px;
	}

	.inner-countdown-text {
	    padding: 30px 15px 15px;
	}

	.inner-countdown {
	    padding: 0px 15px 20px;
	}

	.days, .hours, .minutes, .seconds {
	    font-size: 50px;
	    padding: 0px 55px 30px;
	}

	.last-year .days, .last-year .hours, .last-year .minutes, .last-year .seconds, .last-year .aps-score, .last-year .number-correct, .last-year .total-error, .last-year .avg-error, .last-year .diff-pts, .last-year .team-matching {
	    font-size: 48px;
	    padding: 0px 65px 30px;
	}
	.last-year .days:after, .last-year .hours:after, .last-year .minutes:after, .last-year .seconds:after, .last-year .aps-score:after, .last-year .number-correct:after, .last-year .total-error:after, .last-year .avg-error:after, .last-year .diff-pts:after, .last-year .team-matching:after {
	    font-size: 12px;
	}

	.last-year .inner-countdown .name {
		font-size: 32px;
	}

	.last-year .inner-countdown {
		padding: 0 25px 25px;
	}
}

@media all and (max-width: 1590px) {
	.last-year .days, .last-year .hours, .last-year .minutes, .last-year .seconds, .last-year .aps-score, .last-year .number-correct, .last-year .total-error, .last-year .avg-error, .last-year .diff-pts, .last-year .team-matching {
	    font-size: 36px;
	    padding: 0px 65px 30px;
	}
	.last-year .days:after, .last-year .hours:after, .last-year .minutes:after, .last-year .seconds:after, .last-year .aps-score:after, .last-year .number-correct:after, .last-year .total-error:after, .last-year .avg-error:after, .last-year .diff-pts:after, .last-year .team-matching:after {
	    font-size: 12px;
	}

	.last-year .inner-countdown .name {
		font-size: 24px;
	}

	.last-year .inner-countdown {
		padding: 20px 25px 25px;
	}
}

@media all and (max-width: 1390px) {
	.countdown-text {
		font-size: 24px;
	}

	.inner-countdown-text {
	    padding: 30px 15px 15px;
	}

	.inner-countdown {
	    padding: 0px 15px 20px;
	}

	.days, .hours, .minutes, .seconds {
	    font-size: 32px;
	    padding: 0px 50px 30px;
	}

	.inner-subscribe-box .left p {
	    width: 55%;
	}

	.header-image .overlay {
		left: 100px;
		right: 100px;
	}

	.last-year .countdown, .last-year .countdown-text {
		float: none;
		width: 100%;
		text-align: center;
	}

	.last-year .inner-countdown {
		padding: 15px 30px 45px;
	}
}

@media all and (max-width: 1200px) {
	.countdown-text {
		font-size: 18px;
	}

	.inner-countdown-text {
	    padding: 30px 15px 15px;
	}

	.inner-countdown {
	    padding: 0px 15px 20px;
	}

	.days, .hours, .minutes, .seconds {
	    font-size: 24px;
	    padding: 0px 40px 20px;
	}

	.days:after, .hours:after, .minutes:after, .seconds:after {
		font-size: 12px;
	}

	.inner-subscribe-box .left p {
	    width: 65%;
	}

	.inner-subscribe-box .right .submit {
		width: 25%;
	}

	.inner-subscribe-box .right .input { 
		width: 75%;
	}

	footer .menu {
		width: 50%;
	}

	.last-year .days, .last-year .hours, .last-year .minutes, .last-year .seconds, .last-year .aps-score, .last-year .number-correct, .last-year .total-error, .last-year .avg-error, .last-year .diff-pts, .last-year .team-matching {
	    font-size: 28px;
	    padding: 0px 60px 30px;
	}

	.last-year .inner-countdown .name {
		font-size: 32px;
	}

	.last-year .inner-countdown {
		padding: 0 25px 25px;
	}
}

@media all and (max-width: 992px) {
	.countdown-text {
		font-size: 18px;
		width: 100%;
		float: none;
	}

	.countdown {
		float: none;
		width: 100%;
	}

	.countdown-text, .countdown {
		text-align: center;
	}

	.inner-countdown-text {
	    padding: 15px;
	}

	.inner-subscribe-box, .inner-footer {
		padding: 40px;
	}

	.inner-subscribe-box .right .submit, .inner-subscribe-box .right .input {
		width: 100%;
		float: none;
		display: block;
		margin: 0 auto;
	}

	.header-image .overlay h3 {
		font-weight: 28px;
	}

	.header-image .overlay h1 {
		font-size: 48px;
	}

	.header-image .overlay p {
		font-size: 16px;
	}

	.last-year .days, .last-year .hours, .last-year .minutes, .last-year .seconds, .last-year .aps-score, .last-year .number-correct, .last-year .total-error, .last-year .avg-error, .last-year .diff-pts, .last-year .team-matching {
	    font-size: 20px;
	    padding: 0px 35px 45px;
	}

	.last-year .inner-countdown .name {
		font-size: 26px;
	}

	.last-year .inner-countdown {
		padding: 0 25px 35px;
	}
}

@media all and (max-width: 768px) {
	.inner-subscribe-box .left, .inner-subscribe-box .right {
		float: none;
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	.inner-subscribe-box .divider {
		width: 10%;
	}

	.inner-subscribe-box .left p {
		width: 100%;
	}

	footer .left, footer .right {
	    float: none;
	    width: 100%;
	    text-align: center;
	}

	footer .menu {
	    width: 100%;
	}

	footer .menu ul li a {
		font-size: 16px;
		padding: 0 5px;
	    border-right: none;
	    font-weight: 400;
	    font-size: 18px;
	    color: #F0F0F0;
	    background-color: #f79121;
	    padding: 10px;
	    margin: 5px;
	    display: block;

	}

	footer .menu ul li {
	    width: 100%;
	    display: block;
	}

	footer .social {
	    letter-spacing: 0px;
	    font-weight: 400;
	    font-size: 20px;
	    text-align: center;
	}

	footer .social span {
	    top: 0;
	}
}

@media all and (max-width: 650px) {
	.flex-square-home-left, .flex-square-home-center, .flex-square-home-right {
		float: none;
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 650px;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.home-text-content {
		padding: 50px 100px;
	}

	.inner-rise-fall {
		max-width: 450px;
	}

	.inner-half.right {
		left: 60px;
	}

	.inner-subscribe-box, .inner-footer {
		padding: 30px;
	}

	.header-image .overlay h3 {
		font-weight: 22px;
		margin-bottom: 10px;
	}

	.header-image .overlay h1 {
		font-size: 36px;
		margin-bottom: 10px;
	}

	.header-image .overlay p {
		font-size: 14px;
	}
}

@media all and (max-width: 500px) {
	.home-text-content {
		padding: 25px 50px;
	}

	.inner-half.right {
		left: 40px;
	}

	.inner-subscribe-box, .inner-footer {
		padding: 20px;
	}

	.header-image .overlay h3 {
		font-weight: 18px;

	}

	.header-image .overlay h1 {
		font-size: 28px;
	}

	.header-image .overlay p {
		font-size: 14px;
	}

	.scorecard .left {
		float: none;
		width: 100%;
	}

	.scorecard .right {
		display: none;
	}
}