/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
	padding: 5px;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a {
	background-color: transparent;
}
a:active,
a:hover {
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 40px;
	margin-top: 40px;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid transparent;
	background: #666;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	padding: 10px 20px;
	color: #FFF;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #606060;
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background: #606060;
}
.button {
	padding: 10px 20px;
	display: inline-block;
	*display: inline;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	background: #FAFAFA;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 0px;
	padding: 10px 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
textarea:focus {
	color: #111;
	background: #FFF;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

input[type="file"] {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

/* Text meant only for screen readers */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: '';
	display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}


/* =Menu
----------------------------------------------- */

.main-navigation {
	z-index: 100;
	padding: 0;
	clear: both;
	display: block;
}
.main-navigation ul li a {
	display: block;
}
.menu-toggle {
	margin: 0;
	padding: 0;
}
.menu-toggle:before {
	content: "\f0c9";
	font-family: FontAwesome;
	line-height: 1em;
	speak: none;
	width: 1.28571429em;
	text-align: center;
	display: inline-block;
}
.toggled .menu-toggle:before {
	content: "\f00d";
	speak: none;
}
.menu-toggle .mobile-menu {
	margin-left: 5px;
}
.menu-toggle .mobile-menu:empty {
	display: none;
}
.main-navigation .main-nav ul ul li a {
	line-height: normal;
	padding: 10px 20px;
}
.inside-navigation {
	position: relative;
}
.main-navigation ul,
.menu-toggle li.search-item {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.search-item .screen-reader-text {
	top: 0;
	right: 0;
	left: auto;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	display: none;
	float: left;
	position: absolute;
	left: 0;
	z-index: 99999;
	width:200px;
	text-align:left;
	top: auto;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	display: block;
}
.main-navigation ul ul li {
	width:100%;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.sfHover > ul,
.secondary-navigation ul li:hover > ul,
.secondary-navigation ul li.sfHover > ul {
	display: block;
}
.dropdown-click .main-navigation ul li:hover > ul,
.dropdown-click .main-navigation ul li.sfHover > ul,
.dropdown-click .secondary-navigation ul li:hover > ul,
.dropdown-click .secondary-navigation ul li.sfHover > ul {
	display: none;
}
.dropdown-click .main-navigation ul.toggled-on,
.dropdown-click .main-navigation ul li:hover > ul.toggled-on,
.dropdown-click .main-navigation ul li.sfHover > ul.toggled-on,
.dropdown-click .secondary-navigation ul.toggled-on,
.dropdown-click .secondary-navigation ul li:hover > ul.toggled-on,
.dropdown-click .secondary-navigation ul li.sfHover > ul.toggled-on {
	display: block;
}
.dropdown-click nav ul ul ul {
	background-color: transparent;
}
.nav-float-right .inside-header .main-navigation {
	float:right;
	clear: right;
}
.nav-float-left .inside-header .main-navigation {
	float: left;
	clear: left;
}
.nav-float-left .inside-header .site-branding,
.nav-float-left .inside-header .site-logo {
	float: right;
	clear: right;
}

.nav-float-left .inside-header:after {
	clear: both;
	content: '';
	display: table;
}

.nav-float-right .inside-header .site-branding {
	display: inline-block;
}
.site-header {
	position:relative;
}
.header-aligned-left .site-header {
	text-align: left;
}
.header-aligned-center .site-header {
	text-align: center;
}

.header-aligned-right .site-header {
	text-align: right;
}

.site-header .header-image {
	vertical-align: middle;
}

.main-navigation .main-nav ul ul li a, 
.nav-float-right .main-navigation .main-nav ul ul li a {
	line-height: normal;
}

.nav-float-right .main-navigation ul ul ul{
	top: 0
}

.main-navigation li.search-item {
	float: right;
	z-index: 21;
}

.rtl .main-navigation li.search-item,
.rtl.nav-aligned-right.nav-below-header .main-navigation .menu > li.search-item {
	float: left;
}

.nav-aligned-center .main-navigation li.search-item.current-menu-item {
	position: absolute;
	right: 0;
}

.rtl.nav-aligned-center .main-navigation li.search-item.current-menu-item {
	position: absolute;
	left: 0;
	right: auto;
}

.main-navigation li.search-item i {
	transform: rotate(90deg);
}

.navigation-search {
	position: absolute;
	right: 0;
	display: none;
	z-index: 20;
	width: 100%;
	top: 0;
}

.gen-sidebar-nav .navigation-search {
	top: auto;
	bottom: 0;
}

.navigation-search input {
	border: 0;
	vertical-align: bottom;
	line-height: 0;
	opacity: 0.9;
	width: 100%;
	z-index: 20;
	border-radius: 0;
	-webkit-appearance: none;
}

.navigation-search input::-ms-clear {
	display: none; 
	width: 0; 
	height: 0;
}

.navigation-search input::-ms-reveal {
	display: none;
	width: 0; 
	height: 0; 
}

.navigation-search input::-webkit-search-decoration,
.navigation-search input::-webkit-search-cancel-button,
.navigation-search input::-webkit-search-results-button,
.navigation-search input::-webkit-search-results-decoration {
	display: none;
}

.nav-left-sidebar .main-navigation li.search-item,
.nav-right-sidebar .main-navigation li.search-item {
	width: auto;
	display: inline-block;
}

.nav-left-sidebar .main-navigation li.search-item.current-menu-item,
.nav-right-sidebar .main-navigation li.search-item.current-menu-item {
	float: right;
}

.navigation-search input:focus {
	outline: 0;
}

.nav-aligned-right.nav-below-header .main-navigation .menu > li, 
.nav-aligned-right.nav-above-header .main-navigation .menu > li, 
.nav-aligned-center.nav-below-header .main-navigation .menu > li, 
.nav-aligned-center.nav-above-header .main-navigation .menu > li {
	float: none;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.nav-aligned-right .main-navigation ul,
.nav-aligned-center .main-navigation ul {
	letter-spacing: -0.31em;
	font-size: 1em;
}

.nav-aligned-right .main-navigation ul li,
.nav-aligned-center .main-navigation ul li {
	letter-spacing: normal;
}

.nav-aligned-left.nav-below-header .main-navigation,
.nav-aligned-left.nav-above-header .main-navigation {
	text-align: left;
}

.nav-aligned-center.nav-below-header .main-navigation,
.nav-aligned-center.nav-above-header .main-navigation {
	text-align: center;
}

.nav-aligned-right.nav-below-header .main-navigation,
.nav-aligned-right.nav-above-header .main-navigation {
	text-align: right;
}

.main-navigation ul li .dropdown-toggle,
.secondary-navigation ul li .dropdown-toggle {
	display: none;
}

.menu-item-has-children .dropdown-menu-toggle {
	display: inline-block;
	height: 100%;
	clear: both;
	padding-left: 10px;
}

nav ul ul .menu-item-has-children .dropdown-menu-toggle {
	float: right;
}

nav:not(.toggled):not(.slideout-navigation) ul ul .menu-item-has-children .dropdown-menu-toggle {
	padding-right: 15px;
}

.sidebar .menu-item-has-children .dropdown-menu-toggle {
	float: right;
}

.dropdown-menu-toggle:before {
	content: "\f107";
	font-family: FontAwesome;
	line-height: 1em;
	speak: none;
}

.dropdown-click .menu-item-has-children.sfHover > a .dropdown-menu-toggle:before {
	content: "\f106";
}

.dropdown-hover .sub-menu .dropdown-menu-toggle:before,
.dropdown-hover .children .dropdown-menu-toggle:before {
	content: "\f105";
}

.dropdown-hover.both-right .inside-left-sidebar .dropdown-menu-toggle:before,
.dropdown-hover .inside-right-sidebar .dropdown-menu-toggle:before {
	content: "\f104";
}

.dropdown-hover.both-left .inside-right-sidebar .dropdown-menu-toggle:before,
.dropdown-hover .inside-left-sidebar .dropdown-menu-toggle:before {
	content: "\f105";
}

.dropdown-click .main-navigation ul ul ul,
.dropdown-click .secondary-navigation ul ul ul {
	left: 0;
	top: auto;
	position: relative;
}

.dropdown-click.both-right .widget-area .secondary-navigation ul ul, 
.dropdown-click.right-sidebar .widget-area .secondary-navigation ul ul, 
.dropdown-click.both-sidebars .widget-area .inside-right-sidebar .secondary-navigation ul ul {
	right: 0;
}

.dropdown-click .widget-area .main-navigation ul ul,
.dropdown-click .widget-area .secondary-navigation ul ul {
	left: 0;
	right: 0;
	top: auto;
	position: relative;
	float: none;
	width: 100%;
}

.main-navigation .main-nav ul li.menu-item-has-children > a,
.secondary-navigation .main-nav ul li.menu-item-has-children > a {
	padding-right: 0;
	position: relative;
}

.widget-area .main-navigation li,
.widget-area .secondary-navigation li {
	float: none;
	display: block;
	width:100%;
	padding: 0;
	margin: 0;
}

.widget-area .main-navigation ul ul,
.widget-area .secondary-navigation ul ul {
	top: 0;
	left: 100%;
	width:220px;
}

.dropdown-hover.both-right .widget-area .main-navigation ul ul,
.dropdown-hover.right-sidebar .widget-area .main-navigation ul ul,
.dropdown-hover.both-sidebars .widget-area .inside-right-sidebar .main-navigation ul ul
 {
	right: 100%;
	left: auto;
}

.slideout-navigation .dropdown-menu-toggle:before {
	content: "\f107" !important;
}
	
.slideout-navigation .sfHover > a .dropdown-menu-toggle:before {
	content: "\f106" !important;
}

/* =Content
----------------------------------------------- */
.sticky{}
.post {
	margin: 0 0 2em;
}
.posted-on .updated {
	display: none;
}
.byline {
	display: inline;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 2em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.blog .format-status .entry-title, 
.archive .format-status .entry-title,
.blog .format-aside .entry-header,
.archive .format-aside .entry-header,
.blog .format-status .entry-header,
.archive .format-status .entry-header,
.blog .format-status .entry-meta,
.archive .format-status .entry-meta {
    display: none;
}

.blog .format-aside .entry-content,
.archive .format-aside .entry-content,
.blog .format-status .entry-content,
.archive .format-status .entry-content {
	margin-top: 0;
}

.blog .format-status .entry-content p:last-child,
.archive .format-status .entry-content p:last-child {
	margin-bottom: 0;
}

/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	position:relative;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto 0;
	max-width: 100%;
}
.wp-caption .wp-caption-text {
	font-size: 75%;
	padding-top: 5px;
	opacity: 0.8;
}

.wp-caption img {
	position: relative;
	vertical-align: bottom;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 2em;
	overflow: hidden;
}

/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {}

.comment,
.comment-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.comment-author-info {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align:middle;
}

.comment-meta .avatar {
	float: left;
	margin-right: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.comment-author cite {
	font-style: normal;
	font-weight: bold;
}

.entry-meta.comment-metadata {
	margin-top: 0;
}

.comment-content {
	margin-top: 1.5em;
}

.comment-respond {
	margin-top: 1.5em;
}
.comment-form > .form-submit {
	margin-bottom: 0;
}

.comment-form input,
.comment-form-comment {
	margin-bottom: 10px;
}

.comment-form #author,
.comment-form #email,
.comment-form #url {
	display: block;
}

.comment-metadata .edit-link:before {
	display: none;
}

.comment-body {
	padding: 30px 0;
}

.comment-content {
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.depth-1.parent > .children {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.comment .children {
	padding-left: 30px;
	margin-top: -30px;
	border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.pingback .comment-body,
.trackback .comment-body {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.pingback .edit-link {
	font-size: 13px;
}

.comment-content p:last-child {
	margin-bottom: 0;
}

.comment-list > .comment:first-child {
	padding-top:0;
	margin-top:0;
	border-top: 0;
}

ol.comment-list {
	margin-bottom: 1.5em;
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 30px;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/* Categories widget */
.widget_categories .children {
    margin-left: 1.5em;
	padding-top: 5px;
}
.widget_categories .children li:last-child {
	padding-bottom: 0;
}

/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/* =Start custom CSS
----------------------------------------------- */

body {
	font-size: 15px;
}

a {
	-webkit-transition:color 0.1s ease-in-out, background-color 0.1s ease-in-out;
	-moz-transition:color 0.1s ease-in-out, background-color 0.1s ease-in-out;
	-o-transition:color 0.1s ease-in-out, background-color 0.1s ease-in-out;
	transition:color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

a, a:visited, a:hover, a:focus {
	text-decoration: none;
}

.main-title {
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
}

pre {
	background: rgba(0, 0, 0, 0.05);
	font-family: inherit;
	font-size: inherit;
	line-height: normal;
	margin-bottom: 1.5em;
	padding: 20px;
	overflow: auto;
	max-width: 100%;
}

blockquote {
	border-left: 5px solid rgba(0, 0, 0, 0.05);
	padding: 20px;
	font-size: 1.2em;
	font-style:italic;
	margin: 0 0 1.5em;
	position: relative;
}

blockquote p:last-child {
	margin: 0;
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.5em;
    width: 100%;
}
th,
td {
	padding: 8px;
}
th {
    border-width: 0 1px 1px 0;
}
td {
    border-width: 0 1px 1px 0;
}

hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 40px;
	margin-top: 40px;
}

fieldset {
	padding: 0;
	border: 0;
	min-width: inherit;
}

fieldset legend {
	padding: 0;
	margin-bottom: 1.5em;
}

.site-main .gallery {
	margin-bottom: 1.5em;
}

.gallery-item img {
	vertical-align: bottom;
}

.gallery-icon {
	padding: 5px;
}

.one-container .comments-area {
	margin-top: 1.5em;
}

h1 {
	font-size: 35px;
	margin-bottom: 20px;
	line-height: 1.2em;
}
h2 {
	font-size: 25px;
	margin-bottom: 20px;
	line-height: 1.2em;
}
h3 {
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 1.2em;
}

h4, h5, h6 {
	margin-bottom: 20px;
}

/* Full width inner elements */
.inside-navigation:not(.grid-container):after,
.inside-navigation:not(.grid-container):before,
.inside-header:not(.grid-container):after,
.inside-header:not(.grid-container):before,
.inside-footer-widgets:not(.grid-container):after,
.inside-footer-widgets:not(.grid-container):before {
	content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
	clear: both;
}

/* Layout spacing */
.one-container.both-left .inside-left-sidebar {
	margin-right: 15px;
}
.one-container.both-left .inside-right-sidebar {
	margin-left: 15px;
}
.one-container.both-right .inside-left-sidebar {
	margin-right: 15px;
}
.one-container.both-right .inside-right-sidebar {
	margin-left: 15px;
}
.site-content {
	word-wrap: break-word;
}
.separate-containers .site-main > *:last-child,
.one-container .site-main > *:last-child {
	margin-bottom: 0;
}
.one-container .site-main {
	margin-top: 0;
	margin-bottom: 0;
}
.one-container .site-main {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}
.one-container .inside-right-sidebar,
.one-container .inside-left-sidebar {
	margin-top: 0;
}
.one-container .inside-article {
	padding: 0 0 30px 0;
}
.one-container.page .inside-article {
	padding-bottom: 0;
}

.page-content > *:last-child,
.entry-content > *:last-child,
.entry-summary > *:last-child {
	margin-bottom: 0;
}

/* Widget styling */
.sidebar .widget *:last-child,
.footer-widgets .widget *:last-child {
	margin-bottom: 0;
}
.widget {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.widget-title {
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 1.5;
}
.widget ul,
.widget ol {
	margin: 0;
}
.widget ul li {
	list-style-type: none;
	position:relative;
	padding-bottom: 5px;
}
.widget ul li ul li:before {
	opacity:.7;
}
.widget .search-field {
	width: 100%;
}
.widget:last-child,
.separate-containers .widget:last-child {
	margin-bottom: 0;
}

.widget_nav_menu ul ul,
.widget_pages ul ul {
	margin-left: 1em;
	margin-top: 5px;
}

.widget ul li.menu-item-has-children,
.widget ul li.page_item_has_children {
	padding-bottom:0;
}

.header-widget .widget-title {
	margin-bottom: 15px;
}

#wp-calendar {
	table-layout: fixed;
	font-size: 80%;
}

#wp-calendar #prev,
#wp-calendar #prev + .pad {
	border-right: 0;
}

.sidebar .grid-container {
	max-width:100%;
	width:100%;
}

.footer-widgets {
	padding: 40px 0;
}

.inside-footer-widgets .inner-padding {
	padding: 0 40px;
}

.site-info {
	text-align: center;
}

/* Footer bar */
.footer-bar-active .footer-bar .widget {
	padding: 0;
}

.footer-bar .widget_nav_menu > div > ul {
	display: inline-block;
	vertical-align: top;
}

.footer-bar .textwidget p:last-child {
	margin: 0;
}

/* Footer bar aligned right */
.footer-bar-align-right .copyright-bar {
	float: left;
}

.footer-bar-align-right .footer-bar {
	float: right;
	text-align: right;
}

/* Footer bar aligned left */
.footer-bar-align-left .copyright-bar {
	float: right;
	text-align: right;
}

.footer-bar-align-left .footer-bar {
	float: left;
}

/* Footer bar aligned center */
.footer-bar-align-center .copyright-bar {
	float: none;
	text-align: center;
}

.footer-bar-align-center .footer-bar {
	float: none;
	text-align: center;
	margin-bottom: 10px;
}

.footer-bar .widget-title {
	display: none;
}

/* Footer bar menu */
.footer-bar .widget_nav_menu li {
	margin: 0 10px;
	float: left;
	padding: 0;
}

.footer-bar .widget_nav_menu li:first-child {
	margin-left: 0;
}

.footer-bar .widget_nav_menu li:last-child {
	margin-right: 0;
}

.footer-bar .widget_nav_menu li ul {
	display: none;
}

/* Posts */
.entry-title {
	margin-bottom: 0;
	font-size: 25px;
}
.entry-header {
	word-wrap: break-word;
}
.page-header {
	margin-bottom: 30px;
}
.page-header h1 {
	font-size: 25px;
}
.page-header .avatar {
	float: left;
	margin-right: 1.5em;
}
.page-header .author-info {
	overflow: hidden;
}
.page-header > *:last-child {
	margin-bottom:0;
}
.entry-meta {
	font-size: 85%;
	margin-top: .5em;
	line-height: 1.5;
}
footer.entry-meta {
	margin-top: 2em;
}

footer.entry-meta .author:before,
footer.entry-meta .posted-on:before,
.cat-links:before,
.tags-links:before,
.comments-link:before,
.nav-previous .prev:before,
.nav-next .next:before {
	font-family: FontAwesome;
  	font-weight: normal;
 	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	position:relative;
	margin-right: 0.6em;
	width: 13px;
	text-align:center;
	speak: none;
}

footer.entry-meta .author:before {
	content: "\f007";
}
footer.entry-meta .posted-on:before {
	content: "\f073";
}
.cat-links:before {
	content: "\f07b";
}
.tags-links:before {
	content: "\f02c";
}
.comments-link:before {
	content: "\f086";
}
.nav-previous .prev:before {
	content: "\f104";
}
.nav-next .next:before {
	content: "\f105";
}

.cat-links,
.tags-links,
.comments-link,
footer.entry-meta .posted-on,
footer.entry-meta .byline {
	display: block;
}

.taxonomy-description p:last-child {
	margin-bottom: 0;
}

.paging-navigation:before,
.paging-navigation:after {
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.paging-navigation:after {
	clear: both;
}

.paging-navigation .nav-previous,
.paging-navigation .nav-next {
	display: none;
}

/* Only for WordPress < 4.4 */
.site-main .paging-navigation .navigation {
	margin: 0;
}

.comment-respond {
	margin-top: 0;
}

.read-more-container {
	margin-bottom: 0;
}

.site-main .post-navigation {
	margin-bottom: 0;
}

/* Site header */

.main-title {
	margin: 0;
	font-size: 50px;
	line-height: 1.2em;
}
.site-logo {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	max-width: 100%;
}
.site-description {
	margin: 0;
	line-height: 1.5;
}
.header-widget {
	float: right;
	overflow: hidden;
	max-width: 50%;
}
.header-widget .widget {
	padding: 0 0 20px;
	margin-bottom: 0;
}
.header-widget .widget:last-child {
	padding-bottom:0;
}
.nav-float-right .header-widget .widget {
	padding: 0 0 10px;
}
.nav-float-right .header-widget .widget:last-child {
	padding-bottom: 0;
}
.nav-float-right .header-widget {
	position:relative;
	top: -10px;
}

.post-image {
	margin: 2em 0 0;
}

/* Page Header Add-on */
.page-header-image,
.page-header-image-single {
	line-height: 0; /* no more weird spacing */
}

.separate-containers .page-header-image,
.separate-containers .page-header-content {
	margin-top: 30px;
}

.separate-containers .inside-article > [class*="page-header-"],
.one-container .inside-article > [class*="page-header-"] {
	margin-bottom: 2em;
	margin-top: 0;
}

.inside-article .page-header-image-single.page-header-below-title {
	margin-top: 2em;
}

/* Full width template */
.full-width-content .container.grid-container {
	max-width: 100%;
}

.full-width-content.no-sidebar.separate-containers .site-main {
	margin: 0;
}

.full-width-content.separate-containers .inside-article,
.full-width-content.one-container .site-content {
	padding: 0;
}

/* Remove content padding */
.contained-content.separate-containers .inside-article,
.contained-content.one-container .site-content {
	padding: 0;
}

/* Top bar */
.top-bar .inside-top-bar .widget {
	padding: 0;
	display: inline-block;
	margin: 0;
}

.top-bar .inside-top-bar .textwidget p:last-child {
	margin: 0;
}

.top-bar-align-center {
	text-align: center;
}

.top-bar-align-right {
	text-align: right;
}

.top-bar-align-right .inside-top-bar >.widget:nth-child(even) {
	float: left;
	margin-right: 10px;
}

.top-bar-align-right .inside-top-bar >.widget:nth-child(odd) {
	margin-left: 10px;
}

.top-bar-align-left .inside-top-bar >.widget:nth-child(even) {
	margin-left: 10px;
	float: right;
}

.top-bar-align-left .inside-top-bar > .widget:nth-child(odd) {
	float: left;
	margin-right: 10px;
}

.top-bar-align-center .inside-top-bar .widget:not(:first-child) {
	margin-left: 10px;
}

.top-bar-align-center .inside-top-bar .widget:first-child:last-child {
    display: block
}

.inside-top-bar:not(.grid-container):after,
.inside-top-bar:not(.grid-container):before {
	content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
	clear: both;
}

.top-bar .widget-title {
	display: none;
}

/* Top bar menu */
.top-bar .widget_nav_menu li {
	margin: 0 10px;
	float: left;
	padding: 0;
}

.top-bar .widget_nav_menu li:first-child {
	margin-left: 0;
}

.top-bar .widget_nav_menu li:last-child {
	margin-right: 0;
}

.top-bar .widget_nav_menu li ul {
	display: none;
}

.top-bar .widget_nav_menu > div > ul {
	display: inline-block;
	vertical-align: top;
}

/* SiteOrigin Page Builder */
.so-panel.widget {
	padding: 0;
}

/* MailChimp CSS */
#mc_embed_signup .clear {
	display: block;
	height: auto;
	visibility: visible;
	width: auto;
}

/* Bootstrap fix */
.container.grid-container {
	width: auto;
}

/* Menu class for items to float right */
.sf-menu > li.menu-item-float-right {
	float: right !important;
}

/* Back to top icon */
.generate-back-to-top,
.generate-back-to-top:visited {
	font-size: 20px;
	border-radius: 3px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	z-index: 10;
	transition: opacity 300ms ease-in-out;
}

.generate-back-to-top .screen-reader-text {
	left: 0;
}

/* Mobile menu */
.menu-toggle,
.mobile-bar-items {
	display: none;
	cursor: pointer;
}

.sidebar-nav-mobile {
	display: none;
}

/* Spacing */
.inside-top-bar {
    padding: 10px;
}
.inside-header {
    padding: 40px;
}
.separate-containers .inside-article,
.separate-containers .comments-area,
.separate-containers .page-header,
.separate-containers .paging-navigation,
.one-container .site-content,
.inside-page-header {
    padding: 40px;
}
.one-container.right-sidebar .site-main,
.one-container.both-right .site-main {
    margin-right: 40px;
}
.one-container.left-sidebar .site-main,
.one-container.both-left .site-main {
    margin-left: 40px;
}
.one-container.both-sidebars .site-main {
    margin: 0px 40px 0px 40px;
}
.separate-containers .widget,
.separate-containers .site-main > *,
.separate-containers .page-header,
.widget-area .main-navigation {
    margin-bottom: 20px;
}
.right-sidebar.separate-containers .site-main {
    margin: 20px 20px 20px 0px;
}
.left-sidebar.separate-containers .site-main {
    margin: 20px 0px 20px 20px;
}
.both-sidebars.separate-containers .site-main {
    margin: 20px;
}
.both-right.separate-containers .site-main {
    margin: 20px 20px 20px 0px;
}
.both-right.separate-containers .inside-left-sidebar {
    margin-right: 10px;
}
.both-right.separate-containers .inside-right-sidebar {
    margin-left: 10px;
}
.both-left.separate-containers .site-main {
    margin: 20px 0px 20px 20px;
}
.both-left.separate-containers .inside-left-sidebar {
    margin-right: 10px;
}
.both-left.separate-containers .inside-right-sidebar {
    margin-left: 10px;
}
.separate-containers .site-main {
    margin-top: 20px;
    margin-bottom: 20px;
}
.separate-containers .page-header-image,
.separate-containers .page-header-contained,
.separate-containers .page-header-image-single,
.separate-containers .page-header-content-single {
    margin-top: 20px;
}
.separate-containers .inside-right-sidebar,
.separate-containers .inside-left-sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-navigation .main-nav ul li a,
.menu-toggle,
.main-navigation .mobile-bar-items a {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
}
.main-navigation .main-nav ul ul li a {
    padding: 10px 20px 10px 20px;
}
.navigation-search,
.navigation-search input {
    height: 100%;
}
.menu-item-has-children .dropdown-menu-toggle {
    padding-right: 20px;
}
.menu-item-has-children ul .dropdown-menu-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
}
.widget-area .widget {
    padding: 40px;
}
.footer-widgets {
    padding: 40px;
}
.site-footer .footer-widgets-container .inner-padding {
    padding: 0px 0px 0px 40px;
}
.site-footer .footer-widgets-container .inside-footer-widgets {
    margin-left: -40px;
}
.site-info {
    padding: 20px;
}

/* Typography */
body,
button,
input,
select,
textarea {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-transform: none;
    font-size: 17px;
}
body {
    line-height: 1.5;
}
p {
    margin-bottom: 1.5em;
}
.top-bar {
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}
.main-title {
    font-weight: bold;
    text-transform: none;
    font-size: 45px;
}
.site-description {
    font-weight: normal;
    text-transform: none;
    font-size: 15px;
}
.main-navigation a,
.menu-toggle {
    font-weight: normal;
    text-transform: none;
    font-size: 15px;
}
.main-navigation .main-nav ul ul li a {
    font-size: 14px;
}
.widget-title {
    font-weight: normal;
    text-transform: none;
    font-size: 20px;
}
.sidebar .widget,
.footer-widgets .widget {
    font-size: 17px;
}
h1 {
    font-weight: 300;
    text-transform: none;
    font-size: 40px;
}
h2 {
    font-weight: 300;
    text-transform: none;
    font-size: 30px;
}
h3 {
    font-weight: normal;
    text-transform: none;
    font-size: 20px;
}
.site-info {
    font-size: 15px;
}

/* 
 * Backwards compatibility until Slideout is updated
 * GP Premium 1.2.93
 */
.slideout-navigation .menu-item-has-children .dropdown-menu-toggle {
	float: right;
}